<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016年四月七日 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>320(中)</string>
		<key>number</key>
		<string>3U8617</string>
		<key>company</key>
		<string>四川航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
	<dict>
		<key>price</key>
		<string>¥930</string>
		<key>arriveTime</key>
		<string>11:00</string>
		<key>departureTime</key>
		<string>08:10</string>
		<key>placeOfDestination</key>
		<string>香港</string>
		<key>placeOfDeparture</key>
		<string>成都</string>
		<key>date</key>
		<string>2016-4-7 星期四</string>
		<key>typeOfAircraft</key>
		<string>321(中)</string>
		<key>number</key>
		<string>KA825</string>
		<key>company</key>
		<string>港龙航空</string>
	</dict>
</array>
</plist>
